In [75]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from datetime import datetime
ufo = pd.read_csv("ufos_complete.csv")
ufo
date_seen = ufo["date_seen"]
date_seen = pd.to_datetime(date_seen)

0       2065-01-01 17:00:00
1       2065-01-01 20:00:00
2       2065-01-01 20:00:00
3       2065-02-02 06:00:00
4       2065-02-15 17:00:00
5       2065-02-16 21:00:00
6       2065-03-15 14:00:00
7       2065-03-15 17:00:00
8       2065-04-01 15:30:00
9       2065-04-01 22:30:00
10      2065-04-14 23:00:00
11      2065-04-20 19:00:00
12      2065-04-28 00:00:00
13      2065-05-01 13:00:00
14      2065-05-01 15:30:00
15      2065-05-01 16:30:00
16      2065-05-05 05:35:00
17      2065-05-12 21:00:00
18      2065-05-15 07:30:00
19      2065-05-15 14:00:00
20      2065-05-15 15:00:00
21      2065-05-31 13:00:00
22      2065-06-01 00:00:00
23      2065-06-01 01:00:00
24      2065-06-01 05:00:00
25      2065-06-01 09:00:00
26      2065-06-01 11:00:00
27      2065-06-01 12:00:00
28      2065-06-01 13:00:00
29      2065-06-01 13:00:00
                ...
69407   2014-05-05 20:09:00
69408   2014-05-05 20:30:00
69409   2014-05-05 22:30:00
69410   2014-05-05 22:45:00
69411   2014-05-05 23:04:00
69412   2014-05-05 23:16:00
69413   2014-05-05 23:45:00
69414   2014-05-06 01:00:00
69415   2014-05-06 03:58:00
69416   2014-05-06 20:08:00
69417   2014-05-06 20:35:00
69418   2014-05-06 21:00:00
69419   2014-05-06 21:30:00
69420   2014-05-06 22:15:00
69421   2014-05-06 22:30:00
69422   2014-05-06 23:00:00
69423   2014-05-06 23:00:00
69424   2014-05-07 00:00:00
69425   2014-05-07 03:30:00
69426   2014-05-07 09:30:00
69427   2014-05-07 15:00:00
69428   2014-05-07 17:30:00
69429   2014-05-07 18:25:00
69430   2014-05-07 20:30:00
69431   2014-05-07 20:30:00
69432   2014-05-07 21:00:00
69433   2014-05-07 21:10:00
69434   2014-05-07 21:20:00
69435   2014-05-07 23:30:00
69436   2014-05-08 00:00:00
Name: date_seen, dtype: datetime64[ns]

In [102]:
umonth = date_seen.dt.month
x = umonth.value_counts()#which month has most ufo sightings
x

7     8158
8     7295
6     6710
10    6637
9     6623
11    6045
12    4958
1     4910
4     4765
3     4743
5     4511
2     4082
Name: date_seen, dtype: int64

In [ ]:
ufos = pd.read_csv('ufos.csv', parse_dates=True, index_col='date_seen')

In [51]:
disaster = pd.read_csv("disasters.csv")
disaster_date = disaster["date_started"]
disaster_date = pd.to_datetime(disaster_date)
dmonth = disaster_date.dt.month
dmonth.value_counts()# natural disaster counts for what month they started

8     4761
9     3098
10     943
4      874
11     562
7      534
5      533
6      443
3      397
2      181
1      118
12      27
Name: date_started, dtype: int64

In [101]:
CAdisasters = disaster.loc[disaster['state']== 'California']
CAdisasters['disaster_type'].value_counts()
disaster['disaster_type'].value_counts()
same_day = disaster.loc[disaster['date_started']== disaster['date_ended']]
yy= pd.to_datetime(same_day['date_started'])
yy = yy.dt.month
yy.value_counts()

4     398
9     285
5     161
8     121
7      87
6      82
3      53
11     52
10     27
2      27
1      21
12      8
Name: date_started, dtype: int64

In [52]:
disaster_end = disaster["date_ended"]
disaster_end = pd.to_datetime(disaster_end)
demonth = disaster_end.dt.month
demonth.value_counts() #natural disaster counts for what month they ended

10.0    4543
9.0     2677
11.0    1246
8.0      783
5.0      666
7.0      563
4.0      488
6.0      383
12.0     346
3.0      345
1.0       47
2.0       47
Name: date_ended, dtype: int64

In [84]:
CA = ufo.loc[ufo['state']== 'California']

pd.DataFrame(CA)
california_cities = CA['city'].value_counts()
california_cities[0:10,]

Los Angeles      449
San Diego        379
Sacramento       219
San Jose         195
San Francisco    195
Fresno           114
Bakersfield       90
Santa Rosa        80
Burbank           80
Modesto           79
Name: city, dtype: int64

In [80]:
CA['shape'].value_counts()

light        1953
triangle      886
circle        873
unknown       842
fireball      733
other         662
sphere        661
disk          655
oval          411
formation     315
changing      289
cigar         204
rectangle     158
chevron       157
diamond       155
flash         154
cylinder      133
egg            94
teardrop       78
cone           31
cross          31
round           1
flare           1
Name: shape, dtype: int64

In [69]:
ufo['shape'].value_counts()

light        14470
triangle      7013
unknown       6565
circle        6463
fireball      5489
other         4784
sphere        4628
disk          4242
oval          3210
formation     2139
cigar         1719
changing      1708
flash         1161
rectangle     1143
cylinder      1094
diamond        998
chevron        865
teardrop       639
egg            632
cone           263
cross          198
delta            6
crescent         2
round            2
flare            1
pyramid          1
hexagon          1
changed          1
Name: shape, dtype: int64

In [87]:
disaster['region_name'].value_counts()

South        8360
Midwest      1612
West         1458
Northeast    1041
Name: region_name, dtype: int64